<main style="background-color: #1c2439" class="col-10 content-artist container-main-content">
    <div
        style="padding: 20px; margin-top: 30px"
        class="mb-4 d-flex justify-content-between container"
    >
        <input
            class="form-control search-input-artist me-2 col-5"
            type="search"
            placeholder="Search"
            aria-label="Search"
            style="
                background-color: #12192c;
                outline-color: white;
                color: white;
                padding: 10px 25px;
                border-radius: 40px;
            "
        />
    </div>
    <section class="container">
        <section class="splide d-none">
            <div class="splide__slider">
                <div class="splide__track">
                    <ul class="splide__list" style="column-gap: 10px"></ul>
                </div>
            </div>
        </section>
        <ul class="list list_artists d-flex flex-wrap text-white" style="gap: 30px">
            <% let i=0; for (const artist of artists) { %>
            <div class="cluster d-flex">
                <div
                    data-id="<%= artist.artist_id %>"
                    class="card artist"
                    style="background-color: #12192c; cursor: pointer"
                >
                    <img
                        src="<%= artist.image %>"
                        class="card-img-top"
                        style="height: 200px; object-fit: contain"
                        alt="<%= artist.name %>"
                    />
                    <div class="card-body">
                        <a
                            class="card-title text-white fw-bold"
                            data-bs-toggle="collapse"
                            href="#collapseExample-<%= i %>"
                            role="button"
                            aria-expanded="false"
                            style="text-decoration: none"
                            aria-controls="collapseExample"
                            ><%= artist.name %></a
                        >
                        <p class="card-text"><%= artist.genre %></p>
                    </div>
                </div>
                <div class="collapse collapse-horizontal" id="collapseExample-<%= i %>">
                    <ul
                        class="list list_songs list-song-by-artist d-flex flex-wrap text-white list_songs_page_2"
                        style="gap: 30px; width: 400px"
                    >
                        <% for (const song of songs) { %> <% if (song.artist === artist.name) { %>
                        <div class="temp-card">
                            <div
                                data-id="<%= song.song_id %>"
                                class="p-3 song-player"
                                style="
                                    background-color: #12192c;
                                    cursor: pointer;
                                    width: 300px;
                                    border-radius: 10px;
                                "
                            >
                                <div class="card-body">
                                    <h5 class="card-title"><%= song.title %></h5>
                                    <p class="card-text"><%= song.artist %></p>
                                </div>
                            </div>
                            <div class="liked-song">
                                <i class="bi bi-heart"></i>
                                <i class="bi bi-heart-fill"></i>
                            </div>
                        </div>
                        <%} } %>
                    </ul>
                </div>
            </div>
            <% i++; } %>
        </ul>
    </section>
</main>
