<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header") %>
    <style>
        ::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        :root {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    </style>
    <body class="container-fluid">

        <style>
            .liked-song .bi-heart {
                display: block;
            }
            .liked-song .bi-heart.active {
                display: none;
            }
            .liked-song .bi-heart.active ~ .bi-heart-fill {
                display: block;
            }
            .liked-song .bi-heart-fill {
                display: none;
            }
            .temp-card {
                position: relative;
            }

            .liked-song {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        </style>
        <main class="row" style="padding-bottom: 80px">
            <%- include("partials/side-bar") %>
            <%- include("pages/home") %>
            <%- include("pages/songs") %>
            <%- include("pages/artist", {artists}) %>
            <%- include("pages/liked-songs") %>
        </main>
        <%- include("partials/player", {best4Songs}) %>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/fuzzy-search@3.2.1/dist/FuzzySearch.min.js"></script>
    </body>
</html>
